<nav>
    <a routerLink="/agregarTarea">Agregar Tarea</a>  
    </nav>


    <div class="container">
        <div class="row">
          <div class="col">consecutivo</div>
          <div class="col">descripcion</div>
          <div class="col">fecha de ejecucion</div>
          <div class="col">fecha de creacion</div>
          <div class="col">estado</div>
          <div class="col">usuario asignado</div>
        </div>
      </div>
    
<app-tareas-listar *ngFor="let tarea of tareas" 
                [tarea]="tarea" 
               (deleteTarea)="deleteTarea($event)">
</app-tareas-listar>