

<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<!--pasando paramaetros desde un componente a otro-->
<app-item-todos *ngFor="let todo of todos" [todo]="todo" 
                (deleteTodo)="deleteTodo($event)">
</app-item-todos>



