<div class="container">
  <div class="row">
    <div class="col">{{ tarea.tarea_id }}</div>
    <div class="col">{{ tarea.descripcion }}</div>
    <div class="col">{{ tarea.fecha_ejecucion }}</div>
    <div class="col">{{ tarea.fecha_creacion }}</div>
    <div class="col">{{ tarea.estado }}</div>
    <div class="col">{{ tarea.usuario_id }}</div>
    <button (click)="onDelete(tarea)" class="del">x</button>
  </div>

</div>


