
<nav>
    <a routerLink="/agregarUsuario">Agregar Usuario</a>  
    </nav>
    <div class="container">
        <div class="row">
          <div class="col">identificador</div>
          <div class="col">nombres</div>
          <div class="col">apellidos</div>
          <div class="col">fecha</div>
          <div class="col">email</div>
          <div class="col">estado</div>
        </div>
      
      </div>
    
<app-listar-usuarios *ngFor="let usuario of usuarios" 
                [usuario]="usuario" 
               (deleteUsuario)="deleteUsuario($event)">
</app-listar-usuarios>