

<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  <input type = "text" name = "nombres" placeholder = "nombres" ngModel>
  <br/>
  <input type = "text" name = "apellidos" placeholder = "apellidos" ngModel>
  <br/>
  <input type = "email" name = "email" placeholder = "email" ngModel>
  <br/>
  <input type = "submit" value = "submit">
</form>-