<div class="container">
    <div class="row">
      <div class="col">{{ usuario.id_usuario }}</div>
      <div class="col">{{ usuario.nombres }}</div>
      <div class="col">{{ usuario.apellidos }}</div>
      <div class="col">{{ usuario.fecha_creacion }}</div>
      <div class="col">{{ usuario.email }}</div>
      <div class="col">{{ usuario.estado }}</div>
      <button (click)="onDelete(usuario)" class="del">x</button>
    </div>
  
  </div>



