

<!--<app-listar-usuarios *ngFor="let usuario of usuarios" 
                [usuario]="usuario" 
               (deleteUsuario)="deleteUsuario($event)">
</app-listar-usuarios>-->
<app-agregar-usuario (agregarUsuario)="agregarUsuario($event)"></app-agregar-usuario>