 

<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  <input type = "text" name = "descripcion" placeholder = "descripcion" ngModel>
  <br/>
  <input type = "date" name = "fecha_ejecucion" placeholder = "fecha_ejecucion" ngModel>
  <br/>



  <input type = "text" name = "usuario_id" placeholder = "id_usuario" ngModel>
  <br/>
  <input type = "submit" value = "submit">
</form>-