.del {
    background:#ff0000;
    color:#fff;
    border:none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor:pointer;
    float: right;
}


.todo{

    background: white;
    padding: 10px;
    border-bottom: 1px white dotted;
}
.is-complete{

    text-decoration: line-through;
    
}